@import url('https://fonts.cdnfonts.com/css/pokemon-solid');
nav {
        font-family: 'Pokemon Solid', sans-serif;
        word-spacing: 5px;
    }
h1, h3{text-align: left;}
form{text-align:center;}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
  
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: #000000;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    letter-spacing: 2px;
  }
  
  li a:hover:not(.active) {
    background-color: #FFCC00;
  }
  
  .active {
    background-color:#0075BE;
  }

  .addTeam {
    
    width: 35px;
    height: 35px;
    background: #fff;
    cursor: pointer;
    border: 2px solid #095776;
  
  
  }
  
  .addTeam:after {
    content: '';
    position: absolute;
    transform: translate(-50%, -50%);
    height: 4px;
    width: 2%;
    background: #095776;
  
  }
  
  .addTeam:before {
    content: '';
    position: absolute;
    transform: translate(-50%, -50%);
    background: #095776;
    height: 4%;
    width: 4px;
  }
  
  .addTeam:hover:before,
  .addTeam:hover:after {
    background: #fff;
    transition: 0.2s;
  }
  
  .addTeam:hover {
    background-color: #095776;
    transition: 0.2s;
  }
  

